* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

header {
    text-align: center;
    padding: 30px;
    background: #ffffff;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 40px;
}

/* CARD GENERAL */
.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.4s;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-top: 15px;
    transition: transform 0.5s, filter 0.5s;
}

/* EFECTO MOVIMIENTO */
.card:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.card:hover img {
    transform: scale(1.1) rotate(2deg);
    filter: brightness(1.2);
}

/* COLORES DIFERENTES */
.card-rojo { border-top: 6px solid #e63946; }
.card-azul { border-top: 6px solid #1d3557; }
.card-verde { border-top: 6px solid #2a9d8f; }
.card-naranja { border-top: 6px solid #f4a261; }
.card-morado { border-top: 6px solid #9b5de5; }
.card-amarillo { border-top: 6px solid #f9c74f; }
.card-celeste  { border-top: 6px solid #4dabf7; }



/* TEXTO */
.card h2 {
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}
